<html>
	<head>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		
		<div class="container">
			<div>
				<h1>Markdown Generator</h1>
				<p class="lead">Your Genarated Markdown</p>
				<hr />
			</div>

			<div class="container-fluid">
			{{ markdown }}
			</div>

	    </div>
	    <script src="/js/bootstrap.min.js"></script>

	</body>
</html>